@tailwind base;
@tailwind components;
@tailwind utilities;



/* Like button */

*{
    /* border: #ed2553 1px solid; */
}

.like-btn-red{
    background-color: #ed2553;
}

body{
    background-color: #f7f7f7;
    min-height: 100vh; /* Establece un alto mínimo del 100% de la altura de la ventana del navegador */
    margin: 0; /* Quita los márgenes predeterminados del body */
    padding: 0; /* Quita el relleno predeterminado del body */
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-gradient{
    background: -webkit-linear-gradient(#25cfed, #1ea7f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* create a new class to get the height minus the navbar */
.height-minus-navbar{
    height: calc(100vh - 6rem);
}
.min-height-minus-navbar{
    min-height: calc(100vh - 6rem);
}

.min-h-50{
    min-height: 50vh;
}

.loading{
    animation: loading 1.5s infinite;
}

@keyframes loading {
    0% {
        opacity: 0.1;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.1;
    }
}

